<div *ngIf="!loading && connectionStatus; else spinner" class="content">
    <mat-tab-group mat-align-tabs="center"
        animationDuration="0ms" 
        ([selectedIndex])="currentTabIndex"
        (selectedIndexChange)="OnTabChange($event)"
    >
        <mat-tab *ngFor="let label of tabLabels; let tabIndex = index" label="{{label}}" 
            [disabled]="currentSelectedCourseEdition != null && currentSelectedCourseEdition?.CourseEdition?.Weeks?.length != weeks[tabIndex].length">
            <ng-template matTabContent>
                <div *ngIf="!tabLoading && connectionStatus; else spinner" class="tabContent">
                    <div class="board">
                        <div class="my-courses">
                            <div class="my-courses-header">Your unplanned courses</div>
                            <div class="my-courses-content"
                                cdkDropList
                                #myCoursesSlot="cdkDropList"
                                id="my-courses"
                                [cdkDropListData]="myCourses"
                                [cdkDropListSortingDisabled]="true"
                                (cdkDropListEntered)="OnMyCoursesEnter($event)"
                                (cdkDropListDropped)="DropInMyCourses($event)"
                            >
                                <div *ngFor="let course of myCourses" 
                                    class="course-field"
                                >
                                    <app-course 
                                        [course]="course"
                                        [settings]="settings"
                                        [isSelectedMoving]="currentSelectedCourseEdition?.IsMoving"
                                        (start)="OnStartDragging($event)"
                                        (release)="OnReleaseDragging($event)"
                                    ></app-course>
                                </div>
                            </div>
                        </div>
                        <div class="schedule-menu">
                            <button mat-raised-button color="accent" [disabled]="currentDragEvent != null || currentRoomSelectionDialog != null || currentSelectedCourseEdition?.IsMoving || !currentSelectedCourseEdition?.CanAddRoom"
                                (click)="AddRoom()"
                                >Add Room</button>
                            <button mat-raised-button color="accent" [disabled]="currentDragEvent != null || currentRoomSelectionDialog != null || currentSelectedCourseEdition?.IsMoving || !currentSelectedCourseEdition?.CanChangeRoom"
                                (click)="ChangeRoom()"
                                >Change Room</button>
                            <button mat-raised-button color="accent" [disabled]="currentDragEvent != null || currentRoomSelectionDialog != null || currentSelectedCourseEdition?.IsMoving || !currentSelectedCourseEdition?.CanShowScheduledChanges"
                                (click)="ShowScheduledChanges()"
                                ><mat-icon>schedule</mat-icon>
                                Manage Scheduled Changes
                            </button>
                            <button mat-raised-button color="accent" [disabled]="currentDragEvent != null || currentRoomSelectionDialog != null || !currentSelectedCourseEdition?.CanMakeMove"
                                (click)="Move()"
                                >{{currentSelectedCourseEdition?.IsMoving ? 'Cancel' : 'Make'}} Move</button>
                            <button mat-raised-button color="accent" [disabled]="currentDragEvent != null || currentRoomSelectionDialog != null || currentSelectedCourseEdition?.IsMoving || !currentSelectedCourseEdition?.CanCancel"
                                (click)="CancelSelection()"
                                ><mat-icon>cancel</mat-icon>
                                Cancel Selection
                            </button>
                        </div>
                        <div class="slot-selected" [style.background]="currentSelectedCourseEdition?.CourseEdition?.Type?.Color">
                            <ng-container *ngIf="currentSelectedCourseEdition != null">
                                {{currentSelectedCourseEdition.CourseEdition.Name}} - {{currentSelectedCourseEdition.CourseEdition.Type.Name}}<br>
                                <ng-container *ngIf="currentSelectedCourseEdition.PeriodIndex > -1 && currentSelectedCourseEdition.Day > -1">
                                    {{scheduleDayLabels[currentSelectedCourseEdition.Day]}}: {{scheduleTimeLabels[currentSelectedCourseEdition.PeriodIndex]}}<br>
                                </ng-container>
                                <ng-container *ngIf="currentSelectedCourseEdition.CourseEdition.Weeks != null">
                                    {{currentSelectedCourseEdition.CourseEdition.ShowFrequency(settings)}}
                                </ng-container>
                            </ng-container>
                        </div>
                        <div class="slot-status" [style.background]="isMoveValid ? '#6ef84c' : ((isMoveValid != null) ? '#f86e4c' : 'none')">
                            {{isMoveValid ? 'Correct movement' : ((isMoveValid != null) ? 'Only scheduling' : '')}}
                        </div>
                        <div class="schedule">
                            <div class="schedule-header">Schedule</div>
                            <div class="schedule-content" cdkScrollable>
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="day-column"></th>
                                            <th *ngFor="let timeLabel of scheduleTimeLabels">
                                                {{timeLabel}}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let dayLabel of scheduleDayLabels; let dayIndex = index">
                                            <td class="day-column">
                                                <b>{{dayLabel}}</b>
                                            </td>
                                            <td *ngFor="let timeLabel of scheduleTimeLabels; let timeIndex = index"
                                                cdkDropList
                                                #scheduleSlots="cdkDropList"
                                                id="{{dayIndex}},{{timeIndex}}"
                                                cdkDropListSortingDisabled
                                                [cdkDropListData]="schedule[dayIndex][timeIndex]"
                                                [cdkDropListEnterPredicate]="ScheduleSlotEnterPredicate"
                                                [cdkDropListDisabled]="IsScheduleSlotDisabled(dayIndex,timeIndex)"
                                                (cdkDropListEntered)="OnScheduleSlotEnter($event)"
                                                (cdkDropListDropped)="DropInSchedule($event)"

                                                (mouseenter)="OnMouseEnter(dayIndex,timeIndex)"
                                                (mouseleave)="OnMouseLeave()"
                                                (click)="SelectRoom(dayIndex,timeIndex)"

                                                [attr.valid]="scheduleSlotsValidity[dayIndex][timeIndex]"
                                                [attr.current]="this.currentDragEvent?.source?.dropContainer?.id === dayIndex + ',' + timeIndex"
                                                [attr.course]="true"
                                                [attr.pointer]="currentSelectedCourseEdition?.IsMoving"
                                            >
                                                <div *ngFor="let course of schedule[dayIndex][timeIndex]; let courseIndex = index" 
                                                    class="schedule-course-field"
                                                    [style.border-bottom]="courseIndex == GetMaxElementIndexOnDay(dayIndex) ? 'none' : '1px solid black'"
                                                    
                                                    [attr.selected]="course.IsCurrentlyActive && currentDragEvent == null"
                                                >
                                                    <app-course 
                                                        [course]="course"
                                                        [settings]="settings"
                                                        [weeksOnTab]="weeks[currentTabIndex]"
                                                        [isSelectedMoving]="currentSelectedCourseEdition?.IsMoving"
                                                        (start)="OnStartDragging($event)"
                                                        (release)="OnReleaseDragging($event)"
                                                        (select)="Select($event,dayIndex,timeIndex)"
                                                        
                                                        [ngClass]="{'not-grabbing': IsScheduleSlotDisabled(dayIndex, timeIndex)}"
                                                    ></app-course>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
<ng-template #spinner>
    <mat-progress-spinner
        class="spinner"
        mode="indeterminate"
        diameter="40"
    ></mat-progress-spinner>
</ng-template>