<div *ngIf="!loading" class="content">
    <mat-tab-group mat-align-tabs="center" 
        ([selectedIndex])="currentTabIndex"
        (selectedIndexChange)="OnTabChange($event)"
    >
        <mat-tab *ngFor="let label of tabLabels; let tabIndex = index" label="{{label}}">
            <ng-template matTabContent>
                <div class="tabContent">
                    <mat-slide-toggle checked="true" color="primary">Personal schedule</mat-slide-toggle>
                    <div class="board" cdkDropListGroup>
                        <div class="your-courses">
                            <div class="your-courses-header">Your courses</div>
                            <div class="your-courses-content"
                                cdkDropList
                                id="your-courses"
                                [cdkDropListData]="yourCourses"
                                (cdkDropListDropped)="DropInMyCourses($event)"
                            >
                                <div *ngFor="let course of yourCourses" class="course-field">
                                    <app-course [course]="course"></app-course>
                                </div>
                            </div>
                        </div>
                        <div class="schedule">
                            <div class="schedule-header">Schedule</div>
                            <div class="schedule-content" cdkScrollable>
                                <table>
                                    <tr>
                                        <th></th>
                                        <th *ngFor="let timeLabel of scheduleTimeLabels">
                                            {{timeLabel}}
                                        </th>
                                    </tr>
                                    <tr *ngFor="let dayLabel of scheduleDayLabels; let dayIndex = index">
                                        <td>
                                            <b>{{dayLabel}}</b>
                                        </td>
                                        <td *ngFor="let timeLabel of scheduleTimeLabels; let timeIndex = index"
                                            cdkDropList
                                            #scheduleSlots="cdkDropList"
                                            cdkDropListSortingDisabled
                                            [cdkDropListDisabled]="IsScheduleSlotDisabled(dayIndex, timeIndex)"
                                            [cdkDropListData]="schedule[dayIndex][timeIndex]"
                                            [cdkDropListEnterPredicate]="ScheduleSlotEnterPredicate"
                                            (cdkDropListEntered)="ScheduleSlotEnter($event)"
                                            (cdkDropListDropped)="DropInSchedule($event)"
                                        >
                                            <div *ngFor="let course of schedule[dayIndex][timeIndex]" class="schedule-course-field">
                                                <app-course [course]="course" (ctrlClick)="Reset(dayIndex, timeIndex, $event)" [ngClass]="{'not-grabbing': IsScheduleSlotDisabled(dayIndex, timeIndex)}"></app-course>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>