.tabContent {
    margin-top: 2vh;
    text-align: center;
}

.move-description {
    font-size: 15px;
}

.board {
    height: 78vh;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 2vh;
}

.my-courses {
    border: 2px solid #008700;
    box-sizing: border-box;
    padding-bottom: 1vh;
    width: 15%;
    height: inherit;
    float: left;
}

.my-courses-header {
    height: 3%;
    border-bottom: 2px solid #008700;
    background-color: #81C781;
}

.my-courses-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-sizing: border-box;
    height: 97%;
    overflow-y: auto;
}

.course-field + .course-field {
    margin-top: 0.8vh;
}

.schedule-course-field + .schedule-course-field {
    border-top: 1px solid black;
}

.my-courses-content ::ng-deep .course {
    margin: auto;
}

.my-courses-content ::ng-deep .course-placeholder {
    margin: auto;
}

.schedule {
    border: 2px solid #000081;
    box-sizing: border-box;
    margin-left: 2%;
    width: 83%;
    height: inherit;
    float: left;
}

.schedule-header {
    height: 3%;
    border-bottom: 2px solid #000081;
    background-color: #9898E4;
}

.schedule-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    box-sizing: border-box;
    height: 97%;
    overflow-x: auto;
    overflow-y: auto;
}

.schedule-content table {
    border-collapse: collapse;
}

.schedule-content table td, .schedule-content table th {
    border: 1px solid #000000;
    min-width: 10.9vw;
}

.schedule-content table td {
    height: 10.2vh;
}

.schedule-content table td[selected] {
    background-color: rgb(180, 180, 180);
}

.schedule-content table td ::ng-deep .course {
    width: inherit;
    border: none;
}

.spinner {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}