.available-resources {
    border: 2px solid #008700;
    box-sizing: border-box;
    padding-bottom: 1vh;
    width: 15%;
    height: 80vh;
    float: left;
}

.available-resources-header {
    height: 3%;
    border-bottom: 2px solid #008700;
    background-color: #81C781;
    font-weight: bold;
}

.available-resources-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-sizing: border-box;
    height: 97%;
    overflow-y: auto;
}

.search-form-field {
    display: block;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.mat-search-icon {
    position: relative;
    top: 6px;
}

.tree {
    background-color: #00000000;
}

.tree .node:first-child {
    border-top: 1px solid; 
    border-color: #00000048;
}

.tree .node {
    border-bottom: 1px solid;
    border-color: #00000048;
}

.node-icon {
    margin-left: 0.5vw;
}

.padding-button {
    background-color: #00000000 !important;
}

.tie {
    width: 24px;
    height: 24px;
    margin-left: 2px;
}