<div *ngIf="!loading && connectionStatus; else spinner" style="text-align:center;">
    <table class="profile">
        <tr>
            <td class="profile-header">
                Your profile:
            </td>
        </tr>
        <tr>
            <td class="profile-information">
                <div class="profile-image-field">
                    <img src="assets/profile.svg" class="profile-image">
                </div>
                <div class="profile-field">
                    <span>
                        First Name: <b>{{userInfo.FirstName}}</b>
                        <br>
                    </span>
                    <span>
                        Last Name: <b>{{userInfo.LastName}}</b>
                        <br>
                    </span>
                    <span *ngIf="userInfo.AcademicNumber != null && userInfo.AcademicNumber != ''">
                        Academic Number: <b>{{userInfo.AcademicNumber}}</b>
                        <br>
                    </span>
                    <span *ngIf="(userInfo.TitleBefore != null && userInfo.TitleBefore != '') 
                            || (userInfo.TitleAfter != null && userInfo.TitleAfter != '')">
                        Academic Titles: <b *ngIf="userInfo.TitleBefore != null && userInfo.TitleBefore != ''">{{userInfo?.TitleBefore}}</b> <b *ngIf="userInfo.TitleAfter != null && userInfo.TitleAfter != ''">{{userInfo?.TitleAfter}}</b>
                        <br>
                    </span>
                </div>
                <div class="profile-roles">
                    <mat-chip-list>
                        <mat-chip *ngIf="userInfo.IsStaff && userInfo.IsAdmin" style="background-color: #b90000; color: white;" selected>Administrator</mat-chip>
                        <mat-chip *ngIf="userInfo.IsStudent && userInfo.RepresentativeGroups.length > 0" style="background-color: #0074b8; color: white;" selected>Representative</mat-chip>
                        <mat-chip *ngIf="userInfo.IsCoordinator" style="background-color: #047200; color: white;" selected>Coordinator</mat-chip>
                        <mat-chip *ngIf="userInfo.IsStudent" style="background-color: #a16e00; color: white;" selected>Student</mat-chip>
                        <mat-chip *ngIf="userInfo.IsStaff" style="background-color: #ffffff; color: black;" selected>Staff</mat-chip>
                    </mat-chip-list>
                </div>
            </td>
        </tr>
    </table>
</div>
<ng-template #spinner>
    <mat-progress-spinner
        class="spinner"
        mode="indeterminate"
        diameter="40"
    ></mat-progress-spinner>
</ng-template>