<h2 mat-dialog-title>
    <b *ngIf="!selectedRoom?.IsBusy && data.IsMoveValid" style="color: green">You are making a move:</b>
    <b *ngIf="selectedRoom?.IsBusy || !data.IsMoveValid" style="color: #FF4800">You are scheduling a move:</b>
    <br>
    <i>{{data.CourseEdition.Name}} - {{data.CourseEdition.Type.Name}}</i><br>
    <u>{{data.DayLabels[data.DestIndexes[0]]}}: {{data.TimeLabels[data.DestIndexes[1]]}}</u>
</h2>
<div *ngIf="!loading" mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Select your room</mat-label>
            <mat-select [(ngModel)]="selectedRoom" name="room" required>
                <mat-optgroup *ngFor="let roomType of mappedCourseRooms | keyvalue" class="option-group"
                    [label]="data.RoomTypes.get(roomType.key)?.Name!">
                    <mat-option *ngFor="let room of roomType.value" class="option" [ngClass]="{'busy': room.IsBusy}"
                        [value]="room" [disabled]="!data.CanBeScheduled && room.IsBusy">
                        {{room.Name}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="GET_CANCELED_RESULT">Cancel</button>
    <button 
        mat-raised-button
        color="primary"
        [disabled]="selectedRoom == null"
    
        (click)="Action()"
    >{{(data.IsMoveValid) ? ((!selectedRoom?.IsBusy) ? 'Make' : 'Schedule') : 'Schedule'}} a move</button>
</mat-dialog-actions>