<h2 *ngIf="!loading" mat-dialog-title>
    <b *ngIf="!selectedRoom?.IsBusy && data.IsMoveValid" style="color: green">You are making a move:</b>
    <b *ngIf="selectedRoom?.IsBusy || !data.IsMoveValid" style="color: #FF4800">You are scheduling a move:</b>
    <br>
    <i>{{data.CourseEdition.Name}} - {{data.CourseEdition.Type.Name}}</i><br>
    <u>{{data.DayLabels[data.DestIndexes[0]]}}: {{data.TimeLabels[data.DestIndexes[1]]}}</u> 
    <ng-container *ngIf="groupsSize > 0"> ({{groupsSize}} {{groupsSize > 1 ? 'students' : 'student'}})</ng-container>
</h2>
<div *ngIf="!loading" mat-dialog-content>
    <form>
        <mat-form-field>
            <mat-label>Select your room</mat-label>
            <mat-select [(ngModel)]="selectedRoom" name="room" required>
                <mat-optgroup *ngFor="let roomType of mappedCourseRooms | keyvalue" class="option-group"
                    [label]="data.RoomTypes.get(roomType.key)?.Name!">
                    <mat-option *ngFor="let room of roomType.value" class="option" [ngClass]="{'busy': room.IsBusy}"
                        [value]="room" [disabled]="(!data.CanBeScheduled && room.IsBusy) || (isRoomOnlyChanging && room.RoomId == data.CourseEdition.Room?.RoomId)">
                        {{room.Name}} ({{room.Capacity}} seats)
                    </mat-option>
                </mat-optgroup>
            </mat-select>
            <mat-hint *ngIf="selectedRoom != null && selectedRoom.Capacity < groupsSize" style="color: #ff761b;"><b>Capacity may be too low!</b></mat-hint>
        </mat-form-field>
        <mat-slide-toggle *ngIf="data.CanBeScheduled"
            style="margin-left: 1vw"
            color="primary"
            [disabled]="!data.IsMoveAvailable || !data.IsPropositionAvailable"
            [(ngModel)]="isProposition"
            [ngModelOptions]="{standalone: true}">
            This is proposition
        </mat-slide-toggle>
        <br>
        <mat-form-field *ngIf="isProposition" style="width: 100%">
            <mat-label>Leave a message to your proposition</mat-label>
            <textarea matInput maxlength="300" placeholder="Justify your proposition..." type="text" [(ngModel)]="message" [ngModelOptions]="{standalone: true}"></textarea>
            <mat-hint align="end">{{message?.length ?? '0'}} / 300</mat-hint>
        </mat-form-field>
    </form>
</div>
<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="GET_CANCELED_RESULT()">Cancel</button>
    <button 
        mat-raised-button
        color="primary"
        [disabled]="selectedRoom == null || actionActivated"
    
        (click)="Action()"
    >Confirm</button>
</mat-dialog-actions>