<h2 mat-dialog-title>
    <b>{{data.IsModifying ? 'Managing' : 'Showing'}} scheduled moves for:</b>
    <br>
    <i>{{data.CourseEdition.Name}} - {{data.CourseEdition.Type.Name}}</i><br>
    <u>{{data.DayLabels[data.SrcIndexes[0]]}}: {{data.TimeLabels[data.SrcIndexes[1]]}}</u>, <i>{{data.CourseEdition.Room?.Name}}</i>
    <br>
    {{(data.CourseEdition.Weeks != null) ? ShowFrequency(data.CourseEdition.Weeks) : ''}}
</h2>
<div *ngIf="!loading" mat-dialog-content>
    <mat-list role="list">
        <mat-divider></mat-divider>
        <mat-list-item role="listitem" *ngFor="let scheduledMove of scheduledMoves">
            <div class="item-text" matLine>
                <b>From:</b> {{ShowFrequency(scheduledMove.SourceWeeks)}}
            </div>
            <div class="item-text" matLine>
                <b>To:</b> {{ShowFrequency(scheduledMove.DestWeeks)}}, <u>{{data.DayLabels[scheduledMove.DestDay - 1]}}: 
                {{data.TimeLabels[scheduledMove.DestPeriodIndex - 1]}}</u>, <i>{{scheduledMove.DestRoom.Name}}</i>
            </div>
            <div *ngIf="data.IsModifying" class="item-buttons">
                <button *ngIf="!scheduledMove.IsConfirmed" 
                mat-raised-button class="confirm" style="margin-right: 1vw;"
                [disabled]="data.PropositionUserId != null || (!data.IgnoreUsersLocks && scheduledMove.IsLocked) 
                    || (data.IgnoreUsersLocks && scheduledMove.IsLockedByAdmin && scheduledMove.IsLocked) || scheduledMove.IsAccepting"
                (click)="Accept(scheduledMove)">Confirm</button>
                
                <button mat-raised-button color="warn" style="margin-right: 1vw;"
                [disabled]="(data.PropositionUserId != null && (scheduledMove.IsConfirmed || (!scheduledMove.IsConfirmed && scheduledMove.UserId != data.PropositionUserId))) 
                    || (!data.IgnoreUsersLocks && scheduledMove.IsLocked) 
                    || (data.IgnoreUsersLocks && scheduledMove.IsLockedByAdmin && scheduledMove.IsLocked) || scheduledMove.IsRemoving" 
                (click)="Remove(scheduledMove)">Remove</button>
                
                <button mat-icon-button color="primary" 
                (click)="ShowInfo(scheduledMove)">
                    <mat-icon>info</mat-icon>
                </button>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <br>
    <div *ngIf="isInfoVisible">
        <mat-label>Created by: <b>{{scheduledMoveInfo?.Titles?.TitleBefore}} {{scheduledMoveInfo?.FirstName}} {{scheduledMoveInfo?.LastName}} {{scheduledMoveInfo?.Titles?.TitleAfter}}</b></mat-label>
        <div *ngIf="scheduledMoveInfo?.Message != null; else noMessageAttached">
            <mat-label>Attached message:</mat-label>
            <mat-form-field style="width: 100%">
                <textarea matInput maxlength="300" type="text" [ngModel]="scheduledMoveInfo?.Message" [ngModelOptions]="{standalone: true}" readonly cdkTextareaAutosize></textarea>
            </mat-form-field>
        </div>
    </div>
</div>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close cdkFocusInitial>Close</button>
</mat-dialog-actions>

<ng-template #noMessageAttached>
    <br>
    <mat-label>No message attached.</mat-label>
</ng-template>