h2[mat-dialog-title] {
    font-weight: normal;
    text-align: center;
}

div[mat-dialog-content] {
    min-width: 55vw;
    max-height: 50vh;
    overflow-y: auto;
}

.item-buttons {
    display: flex;
}

.mat-divider {
    border-color: #00000048;
}

.confirm {
    background-color:green; 
    color: white;
}