@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
    height: 100%;
}
body {
    margin: 0;
    line-height: 1.7 !important;
    background-color: #DADADA;
    font-family: "Rubik";
    height: 100%;
}

.mat-raised-button {
    font-weight: bold !important;
}

.mat-button-disabled {
    background-color: #CCCCCC !important;
}

.mat-form-field-appearance-fill.mat-form-field-disabled .mat-form-field-flex {
    background-color: #0000000f !important;
}
