<div class="my-courses">
    <div class="my-courses-header">Your unplanned courses</div>
    <div *ngIf="loading == false; else spinner" class="my-courses-content"
        cdkDropList
        #myCoursesDrop="cdkDropList"
        id="my-courses"
        [cdkDropListData]="myCourses"
        [cdkDropListSortingDisabled]="true"
        (cdkDropListEntered)="OnDropEnter($event)"
        (cdkDropListDropped)="OnDropped($event)"
    >
        <div *ngFor="let course of myCourses.slice(skip, skip + TOP)" 
            class="course-field"
        >
            <app-course 
                [isModifying]="isModifying"
                [ignoreUsersLocks]="userInfo.IsStaff && userInfo.IsAdmin"
                [course]="course"
                [settings]="settings"
                [isSelectedMoving]="modifyingScheduleData.currentSelectedCourseEdition?.IsMoving"
                (onStart)="OnStarted($event)"
                (onRelease)="OnReleased($event)"
            ></app-course>
        </div>
        <div *ngIf="myCourses?.length == 0" class="no-courses">
            There is no unplanned courses for this view.
        </div>
    </div>
    <div class="navigator">
        <span>
            Page {{skip / TOP + 1}}
        </span>
        <button mat-icon-button [disabled]="skip - TOP < 0" (click)="PreviousPage()">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        <button mat-icon-button [disabled]="skip + TOP >= (myCourses?.length ?? 0)" (click)="NextPage()">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>

    <ng-template #spinner>
        <mat-progress-spinner *ngIf="loading != null"
            class="spinner"
            mode="indeterminate"
            diameter="40"
        ></mat-progress-spinner>
    </ng-template>
</div>