.my-courses {
    border: 2px solid #008700;
    box-sizing: border-box;
    padding-bottom: 1vh;
    width: 15%;
    height: 80vh;
    float: left;
}

.my-courses-header {
    height: 3%;
    border-bottom: 2px solid #008700;
    background-color: #81C781;
    font-weight: bold;
}

.my-courses-content {
    padding-top: 1vh;
    padding-bottom: 1vh;
    box-sizing: border-box;
    height: 97%;
    overflow-y: auto;
}

.course-field + .course-field {
    margin-top: 0.8vh;
}

.my-courses-content ::ng-deep .course {
    margin: auto;
}

.my-courses-content ::ng-deep .course-placeholder {
    margin: auto;
}

.no-courses {
    position: relative;
    top: 50%;
    margin: auto;
    width: 50%;
    transform: translateY(-100%);
    font-weight: bold;
}

.spinner {
    position: relative;
    top: 50%;
    margin: auto;
    transform: translateY(-100%);
}