.course {
    position: relative;
    height: 10.2vh;
    width: 10.9vw;
    text-align: center;
    font-size: 12px;
    font-family: "Rubik";
    overflow-y: auto;
    cursor: grab;
    border: 1px solid black;
    box-sizing: border-box;
}

:host.not-grabbing .course {
    cursor: default;
}

.course.cdk-drag-disabled {
    cursor: default;
}

.course-placeholder {
    border: 3px dotted rgb(102, 102, 102);
    height: 10.2vh;
    box-sizing: border-box;
}

.details-field {
    text-align: left;
}

.pin {
    width: 10px;
    height: 10px;
    position: absolute;
    padding-top: 2px;
    padding-left: 2px;
}