<div class="course {{course?.Locked ? 'locked' : ''}}"
    [style.background]="course?.Locked ? 
        'repeating-linear-gradient(
            90deg,' +
            course?.Type?.Color + ',' +
            course?.Type?.Color + ' 10px,' +
        '#FFFFFF 10px,
        #FFFFFF 20px
    )' : course?.Type?.Color"
    
    cdkDrag
    [cdkDragDisabled]="course?.Locked || CheckIfMatching()"
    [cdkDragData]="course"
    (cdkDragStarted)="OnStarted($event)"
    (cdkDragReleased)="OnReleased($event)"
    (click)="CtrlClick($event)"
    
    [matTooltip]="ShowFrequency()"
    matTooltipShowDelay="300"
>
    <div class="course-placeholder" *cdkDragPlaceholder></div>
    <div *ngIf="CheckIfMatching()" class="pin-field">
        <img src="/assets/pin.svg" class="pin">
    </div>
    <i *ngIf="course?.Weeks == null; else weeksText">{{course?.Type?.Name}}, {{course?.Amount}} {{(course!.Amount > 4) ? 'zajęć' : 'zajęcia'}}</i>
    <ng-template #weeksText>
        <i>{{course?.Type?.Name}}</i>
    </ng-template>
    <br/>
    <b>{{course?.Name}}</b>
    <br/>
    <div *ngFor="let coordinator of course?.Coordinators">
        <span [style.text-decoration]="CheckIfItsMe(coordinator.UserId) ? 'underline' : 'none'">{{coordinator.LastName | uppercase}} {{coordinator.FirstName}} {{coordinator.Titles.TitleBefore}} {{coordinator.Titles.TitleAfter}}</span>
        <br/>
    </div>
    <div *ngFor="let group of course?.Groups">
        {{group?.FullName}}
        <br/>
    </div>
    {{course?.Room?.Name}}
    <!--{{(course?.Room != undefined) ? (", " + course?.Room?.Name) : ""}}-->
</div>