.course {
    height: 10.2vh;
    width: 10.9vw;
    text-align: center;
    font-size: 12px;
    font-family: "Rubik";
    overflow-y: auto;
    cursor: grab;
    border: 1px solid black;
    box-sizing: border-box;
}

:host.not-grabbing .course {
    cursor: default;
}

.course.locked {
    cursor: default;
}

.course-placeholder {
    border: 3px dotted rgb(102, 102, 102);
    height: 10.2vh;
    box-sizing: border-box;
}

.course.lecture.locked {
    background: repeating-linear-gradient(
        -55deg,
        #D9FFFF,
        #D9FFFF 10px,
        #FFFFFF 10px,
        #FFFFFF 20px
    );
}

.course.laboratory.locked {
    background: repeating-linear-gradient(
        -55deg,
        #FFECFF,
        #FFECFF 10px,
        #FFFFFF 10px,
        #FFFFFF 20px
    );
}

.course.project.locked {
    background: repeating-linear-gradient(
        -55deg,
        #FFFFEA,
        #FFFFEA 10px,
        #FFFFFF 10px,
        #FFFFFF 20px
    );
}

.course.exercise.locked {
    background: repeating-linear-gradient(
        -55deg,
        #E6FFE6,
        #E6FFE6 10px,
        #FFFFFF 10px,
        #FFFFFF 20px
    );
}