<div class="course {{course?.locked ? 'locked' : ''}}"
    [style.background]="course?.locked ? 
        'repeating-linear-gradient(
            -55deg,' +
            course?.type?.color + ',' +
            course?.type?.color + ' 10px,' +
        '#FFFFFF 10px,
        #FFFFFF 20px
    )' : course?.type?.color"
    
    cdkDrag
    [cdkDragDisabled]="course?.locked"
    [cdkDragData]="course"
    (cdkDragStarted)="OnStarted($event)"
    (cdkDragReleased)="OnReleased($event)"
    (click)="CtrlClick($event)"
>
    <div class="course-placeholder" *cdkDragPlaceholder></div>
    <i>{{course?.type?.name}}, {{course?.amount}} zajęć</i>
    <br/>
    <b>{{course?.name}}</b>
    <br/>
    <div *ngFor="let coordinator of course?.coordinators">
        {{coordinator.lastName}} {{coordinator.firstName}} {{coordinator.title}}
        <br/>
    </div>
    <div *ngFor="let group of course?.groups">
        {{group?.name}}
        <br/>
    </div>
    {{(course?.room != undefined) ? (", " + course?.room?.name) : ""}}
</div>