<div class="course {{this.course?.type}}" 
    cdkDrag
    [cdkDragData]="course"
    (cdkDragStarted)="OnStarted($event)"
    (cdkDragReleased)="OnReleased($event)"
    (click)="CtrlClick($event)"
>
    <div class="course-placeholder" *cdkDragPlaceholder></div>
    <i>{{getCourseTypeName(this.course?.type)}}, {{course?.amount}} zajęć</i>
    <br/>
    <b>{{course?.name}}</b>
    <br/>
    <div *ngFor="let coordinator of course?.coordinators">
        {{coordinator.lastName}} {{coordinator.firstName}} {{coordinator.title}}
        <br/>
    </div>
    {{course?.group?.name}}{{(course?.room != undefined) ? (", " + course?.room?.name) : ""}}
</div>