<div *ngIf="loading == false; else spinner">
    <div [ngSwitch]="data?.actionType">
        <div *ngSwitchCase="'add'" class="content">
            <div class="content-header">
                <b>New Course</b>
            </div>
            <div class="content-inner">
                <div class="content-form">
                    <form (ngSubmit)="Create()" [formGroup]="courseForm">
                        <mat-form-field class="form-input" appearance="fill">
                            <mat-label>Course Type</mat-label>
                            <input matInput name="type" formControlName="type" maxlength="100" readonly>
                            <button matSuffix type="button" mat-icon-button (click)="SelectCourseType()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <mat-error *ngIf="courseForm.controls['type'].hasError('required')">
                                Type is <strong>required</strong>.
                            </mat-error>
                        </mat-form-field>
                        <br><br>

                        <mat-form-field class="form-input" appearance="fill">
                            <mat-label>Course Name</mat-label>
                            <input matInput name="name" formControlName="name" maxlength="100">
                            <mat-error *ngIf="courseForm.controls['name'].hasError('required')">
                                Name is <strong>required</strong>.
                            </mat-error>
                        </mat-form-field>
                        <br><br>

                        <mat-form-field class="form-number-input" appearance="outline">
                            <mat-label>Hours in semester</mat-label>
                            <input type="number" matInput name="hours" formControlName="hours" [errorStateMatcher]="errorMatcher" min="0">
                            <mat-error *ngIf="courseForm.errors?.invalidUnitsMinutes">
                                Could not calculate the valid amount of courses in term.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-number-input" appearance="outline">
                            <mat-label>Minutes in semester</mat-label>
                            <input type="number" matInput name="minutes" formControlName="minutes" [errorStateMatcher]="errorMatcher" min="0" max="59">
                            <mat-hint align="end">
                                Current single course duration: {{GetCourseDurationHours()}}h {{GetCourseDurationMinutes()}}min
                            </mat-hint>
                        </mat-form-field>
                        <br><br>

                        <button type="submit" mat-raised-button color="primary" class="form-submit">
                            Create
                        </button>
                        
                        <button type="button" mat-raised-button color="accent" class="form-reset"
                            (click)="Reset()">
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div *ngSwitchCase="'view'" class="content">
            <div class="content-header">
                <b>Course (ID: {{originalCourse?.CourseId}})</b>
                <button mat-icon-button class="edit-icon-button" [disabled]="isModifying" (click)="Modify()">
                    <mat-icon>edit</mat-icon>
                </button>
            </div>
            <div class="content-inner">
                <div class="content-form">
                    <form (ngSubmit)="Save()" [formGroup]="courseForm">
                        <mat-form-field class="form-input" appearance="fill">
                            <mat-label>Course Type</mat-label>
                            <input matInput name="type" formControlName="type" maxlength="100" readonly>
                            <button matSuffix type="button" mat-icon-button [disabled]="!isModifying" (click)="SelectCourseType()">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <mat-error *ngIf="courseForm.controls['type'].hasError('required')">
                                Type is <strong>required</strong>.
                            </mat-error>
                        </mat-form-field>
                        <br><br>

                        <mat-form-field class="form-input" appearance="fill">
                            <mat-label>Course Name</mat-label>
                            <input matInput name="name" formControlName="name" maxlength="100">
                            <mat-error *ngIf="courseForm.controls['name'].hasError('required')">
                                Name is <strong>required</strong>.
                            </mat-error>
                        </mat-form-field>
                        <br><br>

                        <mat-form-field class="form-number-input" appearance="outline">
                            <mat-label>Hours in semester</mat-label>
                            <input type="number" matInput name="hours" formControlName="hours" [errorStateMatcher]="errorMatcher" min="0">
                            <mat-error *ngIf="courseForm.errors?.invalidUnitsMinutes">
                                Could not calculate the valid amount of courses in term.
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="form-number-input" appearance="outline">
                            <mat-label>Minutes in semester</mat-label>
                            <input type="number" matInput name="minutes" formControlName="minutes" [errorStateMatcher]="errorMatcher" min="0" max="59">
                            <mat-hint align="end">
                                Current single course duration: {{GetCourseDurationHours()}}h {{GetCourseDurationMinutes()}}min
                            </mat-hint>
                        </mat-form-field>
                        <br><br>

                        <button type="submit" mat-raised-button color="primary" class="form-submit" 
                            [disabled]="!isModifying || IsDifferentThanOriginal()">
                            Save
                        </button>
                        
                        <button type="button" mat-raised-button color="accent" class="form-reset" 
                            [disabled]="!isModifying" 
                            (click)="Reset()">
                            Reset
                        </button>
                        
                        <button type="button" mat-raised-button class="form-reset" 
                            [disabled]="!isModifying" 
                            (click)="Cancel()">
                            Cancel Modification
                        </button>
                    </form>
                    <br><br>
                    <button mat-raised-button color="warn" class="form-submit" 
                        [disabled]="!isModifying"
                        (click)="Remove()">
                        Remove
                    </button>
                </div>
                <div>
                    <div class="content-subheader">
                        <b>Available rooms for this course:</b>
                        <button mat-icon-button class="add-icon-button" [disabled]="!isModifying" (click)="ChooseRoom()">
                            <mat-icon>add_circle</mat-icon>
                        </button>
                    </div>
                    <div class="content-rooms">
                        <mat-list role="list">
                            <mat-list-item role="listitem" *ngFor="let courseRoom of courseRooms">
                                <div class="item-text" matLine>
                                    <b>Room:</b> {{courseRoom.Name}}
                                </div>
                                <div class="item-text" matLine *ngIf="courseRoom.User != null">
                                    <b>Added by:</b> {{courseRoom.User.FirstName}} {{courseRoom.User.LastName}} ({{courseRoom.User.UserId}})
                                </div>
                                <div>
                                    <button mat-raised-button color="warn" style="margin-right: 1vw;"
                                        [disabled]="!isModifying"
                                        (click)="RemoveRoom(courseRoom.RoomId)">
                                        Remove
                                    </button>
                                </div>
                                <mat-divider></mat-divider>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>
        <div *ngSwitchDefault></div>
    </div>
</div>

<ng-template #spinner>
    <mat-progress-spinner *ngIf="loading != null"
        class="spinner"
        mode="indeterminate"
        diameter="40"
    ></mat-progress-spinner>
</ng-template>