<div class="toolbar">
    <div class="toolbar-left">
        <a routerLink="/profile" class="toolbar-title">{{title}}</a>
    </div>
    <div class="toolbar-middle">
        <button *ngIf="IsAuthenticated()" class="toolbar-coordinator-schedule" mat-raised-button color="accent" (click)="PersonalSchedule()" [disabled]="!account?.Coordinator">
            <mat-icon>school</mat-icon>
            Coordinator Schedule
        </button>
        
        <button *ngIf="IsAuthenticated()" class="toolbar-student-schedule" mat-raised-button color="accent" (click)="MyGroupsSchedule()" [disabled]="!account?.Student">
            <mat-icon>group</mat-icon>
            Student Schedule
        </button>

        <button *ngIf="IsAuthenticated()" class="toolbar-full-schedule" mat-raised-button color="accent" (click)="FullSchedule()">
            <mat-icon>event_note</mat-icon>
            Full Schedule
        </button>

        <button *ngIf="IsAuthenticated()" class="toolbar-admin-panel" mat-raised-button color="accent" (click)="AdminPanel()" [disabled]="!account?.Staff?.IsAdmin">
            <mat-icon>settings_applications</mat-icon>
            Admin Panel
        </button>
    </div>
    <div class="toolbar-right">
        <button *ngIf="IsAuthenticated()" class="toolbar-logout" mat-raised-button color="accent" (click)="Logout()">
            Logout
        </button>
        
        <button *ngIf="IsAuthenticated()" class="toolbar-profile" mat-raised-button color="accent" (click)="Profile()">
            <mat-icon>person</mat-icon>
            Profile
        </button>
    </div>
</div>
<router-outlet></router-outlet>